@using DxMDB.Models
@model DxMDB.Models.Movie

@{
    Layout = null;
}

<!DOCTYPE html>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/chosen.jquery.js"></script>
@*<script src="~/Scripts/chosen.proto.min.js"></script>
    <script src="~/Scripts/chosen.proto.js"></script>
    <link href="~/Content/chosen.min.css" rel="stylesheet" />
    <script src="~/Scripts/chosen.jquery.min.js"></script>*@
<link href="~/Content/chosen.css" rel="stylesheet" />

<style type="text/css">
    select {
        width: 200px;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Create", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        <p>@Html.LabelFor(model => model.Name)</p>
        <p>@Html.TextBoxFor(model => model.Name)</p>
        <p>@Html.LabelFor(model => model.Yor)</p>
        <p>@Html.TextBoxFor(model => model.Yor)</p>
        <p>@Html.LabelFor(model => model.Plot)</p>
        <p>@Html.TextBoxFor(model => model.Plot)</p>
        <p><label>Actors : </label></p>
        <p>
            <select id="actor" width="500px" name="actor" data-placeholder="Select the actors" multiple>
                @foreach (Actor a in ViewBag.Actors)
            {
                <option>@a.Name</option>
        }
            </select>
        </p>
        <p><label>Producer : </label></p>
        <p>
            <select id="producer" width="500px" name="producer" data-placeholder="Select the producer">
                @foreach (Producer p in ViewBag.Producers)
            {
                <option>@p.Name</option>
        }
            </select>
        </p>
        <p><input type="submit" /></p>

}
    </div>
</body>
</html>


<script>
    $("#producer").chosen();
    $("#actor").chosen();
</script>