@model DxMDB.Models.Movie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div> 
        <p>Name : @Model.Name</p>
        <p>Year of Release : @Model.Yor</p>
        <p>Produced by : @Model.Producer.Name</p>
        <p>Plot : </p>
        <p>@Model.Plot</p>
        <p style="text-align:center;">@Html.ActionLink("Back to Index","Index")</p>
    </div>
</body>
</html>
