@using DxMDB.Models
@model DxMDB.Models.Movie

@{
    Layout = null;
}

<!DOCTYPE html>

<script src="~/Scripts/chosen.jquery.js"></script>
<script src="~/Scripts/chosen.proto.min.js"></script>
<script src="~/Scripts/chosen.proto.js"></script>
<script src="~/Scripts/chosen.jquery.min.js"></script>
<link href="~/Content/chosen.css" rel="stylesheet" />
<link href="~/Content/chosen.min.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Id)
            <p>@Html.LabelFor(model => model.Name)</p>
            <p>@Html.TextBoxFor(model => model.Name)</p>
            <p>@Html.LabelFor(model => model.Yor)</p>
            <p>@Html.TextBoxFor(model => model.Yor)</p>
            <p>@Html.LabelFor(model => model.Plot)</p>
            <p>@Html.TextBoxFor(model => model.Plot)</p>
            <p><label>Producer</label></p>
            <p>
                <select id="producer" name="producer" data-placeholder="Choose the producer" class="chosen-search">
                    @foreach (Producer p in ViewBag.Producers)
                    {
                        <option>@p.Name</option>
                    }
                </select>
            </p>
            <p>@Html.ActionLink("Cancel","Index") <hr /><input type="submit" /></p>

        }
    </div>
</body>
</html>


<script>
    $("#producer").chosen();
</script>