@model DxMDB.Models.Movie
@using DxMDB.Models;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <style type="text/css">
        .sidebar {
            float: right;
            margin: 0 0 0 20px;
            font-weight: bold;
        }
        img { 
            max-height: 500px;
            max-width: 500px;
            width: auto;
            height: auto;
        }

        .plot {
            text-align: justify;
            text-indent: 2em;
            margin: 10px 10px 10px 10px;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
    <div>
        <h2>@Model.Name (@Model.YearOfRelease)</h2>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        <hr />
        <div class="sidebar">
            @if (!string.IsNullOrEmpty(Model.PosterFilePath))
            {
                <img src="@Url.Content(Model.PosterFilePath)" />
            }

            <p>
                Actors : <br />
                @foreach (Actor actor in Model.Actors)
                {
                    @actor.Name<br />
                }
            </p>

            <p>
                Producer : 
                @Model.Producer.Name
            </p>
        </div>
        <h3>Plot</h3>
        <p class="plot">
            @Model.Plot
        </p>

    </div>
</body>
</html>
