@model DxMDB.Models.Movie

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Movie</h4>
        <hr />

        <img src="@Model.PosterUrl" />

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Yor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Yor)
            </dd>

            <dt>
                Actors
            </dt>

            <dd>
                @ViewBag.actors
            </dd>

            <dt>
                Producer
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Producer.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Plot)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Plot)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
