@using DxMDB.Models
@model IEnumerable<DxMDB.Models.Movie>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Confirmation</h4>
                    </div>
                    <div class="modal-body" id="ModalBody">
                        <div class="loader col-md-offset-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Year of Release
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actors)
            </th>
            <th>
                Producer
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            string id = item.Id.ToString();

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yor)
                </td>
                @{
                    string actors = "";
                    foreach (Actor actor in item.Actors)
                    {
                        if (String.IsNullOrEmpty(actors))
                        {
                            actors = actor.Name;
                        }
                        else
                        {
                            actors += ", " + actor.Name;
                        }
                    }
                }

                <td align="left">@actors</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    <a id=@id href="#@id" onclick="javascript:deletePopUp(id)" data-toggle="modal" data-target="#myModal">Delete</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>

<script>
    function deletePopUp(name) {
        var urlString = '/Movies/Delete/';
        urlString = urlString.concat(name);
        $.ajax({
            type: 'GET',
            url: urlString,
            success: function (data) { $("#ModalBody").html(data); }
        });
        //$('#link').html(name);
    }
</script>


