@using DxMDB.Models
@model DxMDB.Models.MoviesIndexViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        .img-thumbnail {
            height: 250px;
            overflow: auto;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .wrapper {
            text-align: center;
        }

        .inner-block {
            display: inline-block;
        }

        #MovieDiv:hover {
            background-color: #bbbbbb;
        }
    </style>
</head>
<body>
    @if (TempData["Notification"] != null)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@TempData["Notification"]</strong>
        </div>
    }
    <div class="container">

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" id="closeModal">&times;</button>
                        <h4 class="modal-title">Delete Confirmation</h4>
                    </div>
                    <div class="modal-body" id="ModalBody">
                        <div class="loader col-md-offset-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <div class="container">
        @for (int row = 1; row <= Model.NumberOfRows; row++)
        {
            <div class="row wrapper">
                @for (int col = 1; col <= Model.NumberOfColumns; col++)
                {
                    var index = (row - 1) * Model.NumberOfColumns + col - 1;
                    if (index < Model.Movies.Count())
                    {
                        var item = Model.Movies.ElementAt(index);
                        <div class="col-md-3 inner-block">
                            <a href="/Movies/Details/@item.Id">
                                <div id="MovieDiv">
                                    <div><img src="@Url.Content(item.PosterFilePath)" class="img-thumbnail" /></div>
                                    <div>@item.Name (@item.YearOfRelease)</div>
                                </div>
                            </a>
                            <div>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                <a id=@item.Id href="#@item.Id" onclick="javascript:deletePopUp(id)" data-toggle="modal" data-target="#myModal">Delete</a>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
    <div class="wrapper">
        <div class="inner-block" id="navigateButtons">
            <input id="prevBtn" type="button" value="Prev" onclick="location.href='@Url.Action("Index", "Movies", new { id = Model.PageNumber - 1 })'" />
            <span style="padding-left:5px;padding-right:5px;">
                Page @Model.PageNumber of @Model.NumberOfPages
            </span>
            <input id="nextBtn" type="button" value="Next" onclick="location.href='@Url.Action("Index", "Movies", new { id = Model.PageNumber + 1 })'" />
        </div>
    </div>

</body>
</html>

<script>

    if (@Model.PageNumber == 1) {
        $('#prevBtn').hide();
    }

    if (@Model.PageNumber == @Model.NumberOfPages) {
        $('#nextBtn').hide();
    }

    function deletePopUp(id) {
        var urlString = '/Movies/Delete/';
        urlString = urlString.concat(id);
        $.ajax({
            type: 'GET',
            url: urlString,
            success: function (data) {
                $("#ModalBody").html(data);
            }
        });
    }
</script>


